In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sys

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [12]:
cd ..

/Users/ER/Desktop/GA:ADA/Course_Materials/project2/project-2

In [13]:
df_test = pd.read_csv('./datasets/test.csv')

In [20]:
df_train = pd.read_csv('./datasets/train.csv')

In [21]:
df_test.head(3)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000

In [22]:
df_train.head(3)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000

In [ ]:
df_test.columns = df_test.columns.str.lower().str.replace(' ', '_')

df_test.drop(columns=['alley',
                 'fireplace_qu',
                 'pool_qc',
                 'fence',
                 'misc_feature',
                 'pid'], inplace=True)

df_nums = df_test.select_dtypes(include=[np.number])

house_features = [col for col in df_nums.columns if col != 'saleprice' or 'id']

X = df_nums[house_features]
y = df_nums['saleprice']

from sklearn.impute import SimpleImputer

si = SimpleImputer(strategy = 'mean')

X_fill = si.fit_transform(X)

X_fill = pd.DataFrame(X_fill, columns = si.feature_names_in_)

ss = StandardScaler()
X_sc = ss.fit_transform(X_fill)

X_sc = pd.DataFrame(X_sc, columns = ss.get_feature_names_out())

from sklearn.linear_model import LassoCV

lasso_cv = LassoCV(cv = 10).fit(X_sc, y)

print('best alpha:', lasso_cv.alpha_)
print('score:', lasso_cv.score(X_sc, y))